@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot');
    src: url('./font/iconfont.eot') format('embedded-opentype'),
        url('./font/iconfont.woff2') format('woff2'),
        url('./font/iconfont.woff') format('woff'),
        url('./font/iconfont.ttf') format('truetype'),
        url('./font/iconfont.svg') format('svg');
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,body{
      width: 100%;
      height: 100%;
  }
  .flx{
      display: flex;
  }

.topbox{
    width: 100%;
    height: 50px;
    justify-content: flex-end;
}
.link{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}
.nav{
    width: 100%;
    height: 80%;
    background: green;
}
.navbox{
    width: 100%;
    height: 80px;
    justify-content: flex-end;
}
.navitem{
    width: 120px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    border-right: 1px solid #fff;
}
.banner{
    height: 350px;
    width: 100%;
    background: grey;
}
.bannerimg, .bannertxt{
    flex: 1;

    height: 350px;
}
.bannerimg{
    background: rgb(30, 175, 219);
}
.bannertxt{
    background:green;
    color: #fff;
    box-sizing: border-box;
    padding: 105px 30px;
}
.ch-txt{
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    text-align: left;
    text-indent: 70px;
}
.eh-txt{
    height: 80px;
    line-height: 80px;
    font-size: 32px;
    text-align: left;
    text-indent: 70px;
}
.en-txt-small{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-indent: 230px;
}

@media screen and (min-device-width:1150px){
    .inner{
        width: 1150px;
        margin: auto;
        position: relative;
    }
    .logo{
        position: absolute;
        left: 0;
        top: 0;
        width: 240px;
        height: 130px;

        line-height: 130px;
        text-align: center;

        background: #fff;
        color: green;
        font-size: 50px;
    }
}

@media screen and (min-device-width:650px) and (max-device-width:1150px){
    .hd{
        color: blue;
    }
}

@media screen and (max-device-width:650px){
    .hd{
        color: gold;
    }
}